.greenLightOn {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    box-shadow: 0 0 30px green;
    transition: all 0.3s ease;
    margin: 1rem auto;
  }
  
  .greenLightOff {
    width: 100px;
    height: 100px;
    background-color: #003300;
    border-radius: 50%;
    box-shadow: none;
    transition: all 0.3s ease;
    margin: 1rem auto;
  }